:root{
  --background-primary:#282c34;
  --color-primary:#FFFFFF;
  --color-secondary:#C778DD;
}

*{box-sizing:border-box;}

html{ height:100vh;}

body{
    margin:0;
    background-color:var(--background-primary);
}

.header{
    padding:24px 0;
    text-align:center;
    color:var(--color-primary); 
}

.header__title{
    color:var(--color-primary);
    font-size:4rem;
    font-weight:bold;
    margin:0;
    text-align:center;
}

.menu{
    background-color:var(--color-secondary);
    display: flex;
    justify-content: space-around;
    padding:8px 8px;
}

.menu__item{
    color:var(--color-primary);
    font-weight:bold;
    text-transform:uppercase;
    border-radius:4px;
    text-decoration: none;
    padding:8px 8px;
}

.menu__item:hover{
    background-color:aquamarine;
    color:var(--color-secondary);
}

.active-page{
    background-color:var(--color-primary);
    color:var(--color-secondary);
}

.main{
    max-width:960px;
    flex-grow:1;
    color:var(--color-primary);  
    margin-inline:auto; 
    padding-inline:16px;
    padding:18px;

}

.main-content{
    color:var(--color-primary);
    font-size:1rem;
    padding:16px;
    position:relative;
}

.media{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    padding:12px 32px;

    border:1px solid var(--color-secondary);
    border-radius: 6px;
}


.button{
    display:block;
    margin:20px auto;
    font-size:large; 
    text-align:center;
    color:var(--color-primary);
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    border-radius:2px;
    padding:24px;
    width:60%;  
    text-decoration: none;
    margin-top:80px;
}

.button:hover{
    background-color:var(--color-secondary);
    color:var(--color-primary);
}


.footer{
    padding:24px;
    text-align:center;
    color:var(--color-primary);
}

@media(max-width:600px){
    .menu{
        padding:16px;
        display:flex;
        flex-direction:column;
    }
    article.box-article {
        flex:0 0 100%;
        margin-bottom:20px;
    }

    .about__grid{
        grid-template-columns:1fr;
    }
}