


.banner{
    background-size:cover;
    background-position:center;
    padding:24px 16px;
    text-align:center;
}

.banner-content{
    border:1px solid var(--color-secondary);
    color:var(--color-primary);
    border-radius:12px;
    padding:16px;
    margin:32px auto;
    text-align: center;  
}




.flex-article{
    display:flex;
    flex-wrap:wrap;
    gap:32px;
    justify-content:space-between;
}

.article.box-article{
    border:1px solid var(--color-secondary);
    border-radius:12px;
    padding:12px;
    flex: 0 0 calc(50% - 32px);   
}

.article__img{
    border-radius:12px;
    width:100%;
    height:auto;
    display: block;
    margin-bottom:12px;
}








