*{box-sizing:border-box;}

html{ height:100vh;}



.main{
    max-width:960px;
    margin-inline:auto;
    padding-inline:16px;

    flex-grow:1;
    padding:18px;
    color:#FFFFFF;  
}

body{
    margin:0;
    background-color:#282C33;}


.header{
    padding:24px 0;
    text-align:center;
    color:#FFFFFF; 
}

.header__title{
    color:#FFFFFF;
    font-size:4rem;
    font-weight:bold;
    margin:0;
    text-align:center;
}

.menu{
    background-color: #C778DD;
    display: flex;
    justify-content: space-around;
    padding:8px 8px;
}

.menu__item{
    color:#FFFFFF;
    font-weight:bold;
    text-transform:uppercase;
    border-radius:4px;
    text-decoration: none;
    padding:8px 8px;
}

.menu__item:hover{
    background-color:aquamarine;
    color:blueviolet;
}

.active-page{
    background-color:#FFFFFF;
    color:#C778DD;
}


.button{
    display:block;
    margin:20px auto;
    font-size:large; 
    text-align:center;
    color:#FFFFFF;
    background-color: transparent;
    border:1px solid #C778DD;
    border-radius:2px;
    padding:24px;
    width:60%;  
    text-decoration: none;
    margin-top:80px;
}

.button:hover{
    background-color:#C778DD;
    color:#FFFFFF;
}

.banner{
    background-size:cover;
    background-position:center;
    padding:24px 16px;
    text-align:center;
}

.banner-content{
    border:1px solid #C778DD;
    color:#FFFFFF;
    border-radius:12px;
    padding:16px;
    margin:32px auto;
    text-align: center;  
}


.main-content{
    color:#FFFFFF;
    font-size:1rem;
    padding:16px;
    position:relative;
}

.flex-article{
    display:flex;
    flex-wrap:wrap;
    gap:32px;
    justify-content:space-between;
}

.article.box-article{
    border:1px solid #C778DD;
    border-radius:12px;
    padding:12px;
    flex: 0 0 calc(50% - 32px);   
}

.article__img{
    border-radius:12px;
    width:100%;
    height:auto;
    display: block;
    margin-bottom:12px;
}

/*skills*/

.skills{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    flex-direction:row;
    gap:24px;
    padding:12px 32px;
}

.skill-box{
    flex:1;
    border:1px solid #C778DD;
    padding:12px;
    color:aqua;
}

table{
    border-collapse: collapse;
    margin:20px auto;
    color:#FFFFFF;
}

th,td{
    border:1px solid #C778DD;
    padding: 12px;
    text-align: left;
}

.media{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    padding:12px 32px;

    border:1px solid #C778DD;
    border-radius: 6px;
}

.label{
    white-space:nowrap;
}

.info{
    display:flex;
    gap:8px;
    align-items:center;
    flex-wrap:wrap;
}

.icon{
    width: 28px;
    height: 28px;
    vertical-align:middle;

    margin-right:6px;
    vertical-align: middle;
}

/*about*/

.about__grid{
    display:grid;
    grid-template-columns:1fr 1.5fr;
    gap:32px;
    align-items:center;
    margin-bottom:32px;
}
.about__img{margin:0;}

.about__img img{
    width:100%;
    height:auto;
    display:block;
    border-radius:12px;
}

.container{
    margin-inline:auto;
    padding-inline: 16px;
}




/*contacts*/
.user-information{
    border-radius:12px;
    margin-top:24px;
    padding:16px;
    margin-bottom:2vh;   
    margin-top:24px;
}

fieldset{
    margin-top:32vh;
    margin-bottom:32vh;
    border-color:#C778DD;
    margin-top:24px;
    border-radius:12px;
    margin-bottom:12vh;
}

.user-input{
    margin-bottom:8px;
}

.required::after{
    content:r'*';
    color:red;
    border-radius:12px;
    display:inline-block;
    color:#FFFFFF;
}

textarea{
    display:block;
    width:90%;
    height:100px;
}











.footer{
    padding:24px;
    text-align:center;
    color:#FFFFFF;
}